div {
    margin: 5px;
}
h1 {
    color: blue;
}
/*#third {
    visibility: hidden;
}
.right p {
    display: none;
}*/
img {
    width: 300px;
    height: 300px;
}
.red {
    color: red;
}

#third > p {
    background-color: chartreuse;
}